server {
    listen        80;
    server_name   default_server;
    
    # certbot (HTTP-01 challenge)
    
    location /.well-known/acme-challenge/ {
        default_type text/plain;
        root /var/www/http01;
    }
    
    # Redirect to https
    
    location / {
        return 301 https://$host$request_uri;
    }
}
